<div class="wishlist-container">
  <div class="row box">
    <div class="wishlist content">
      <table>
        <label>
          Wishlist
          <i>내가 일년안에 꼭 선물해줄게용~~!!</i>
        </label>
        <tr>
          <th scope="column">Name</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
        <% @gifts.each do |gift| %>
          <% if gift.most_wanted? %>
            <tr class="most-wanted">
          <% else %>
            <tr>
          <% end %>
              <td><%= gift.name %></td>
              <td><%= gift.usd %></td>
              <td>
                <% if gift.description %>
                  <%= gift.description %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>
      <%= link_to 'Add to wishlist', new_gift_path, class: 'small button right' %>
      <button data-remote="true" class="small secondary button right button-edit-form">Mark most-wanted</button>
      <div class="small-10 columns center">
        <div class="hide editform">
          <form action="/most-wanted" method="post" accept-charset="UTF-8">
            <input name="utf8" type="hidden" value="✓">
            <input type="hidden" name="authenticity_token" value="8Dmhr9guFxIGcVvmtLEokKhYrTcfTktWWu5qYIdR6Lcyb6wVllRgmdHHJHh8EuHDemgpc99KNnjyKPfCvqHpAA==">
            <div class="row collapse">
              <h5>Most-wanted Gift</h5>
              <div class="small-10 columns">
                <%= select_tag "id", options_from_collection_for_select(@gifts, "id", "name"), class: "dropdown" %>
              </div>
              <div class="small-2 columns">
                <%= submit_tag "❤︎", class: "tiny alert button postfix"%>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
