<div class="medium-12 columns">
  <div class="medium-6 columns">
    <div>
      <iframe src="http://www.youtube.com/embed/W-QflnvMR3g?autoplay=1" frameborder="0" allowfullscreen class="happy-video"></iframe>
    </div>
    <div class="row message">
      <div class="large-6 columns">
      </div>
      <div class="autoscrolling small-6 columns" id="scroll">
        <ul>
          <% @messages.each do |message| %>
            <li>
              <%= message.body %>
              <%= message.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="medium-6 columns">
    <div>
      <div class="slide-image right">
        <div id="featured" data-orbit>
          <img src="004-21.jpg" alt="slide image">
          <img src="IMG_6252.jpg" alt="slide image">
        </div>
      </div>
    </div>
    <div>
      <div class="wishlist content">
        <table>
          <caption>Wishlist</caption>
          <tr>
            <th scope="column">Name</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
          <% @gifts.each do |gift| %>
            <% if gift.most_wanted? %>
              <tr class="most-wanted">
            <% else %>
              <tr>
            <% end %>
                <td><%= gift.name %></td>
                <td><%= gift.usd %></td>
                <td>
                  <% if gift.description %>
                    <%= gift.description %>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
        <%= link_to 'Add to wishlist', new_gift_path, class: 'small button right' %>
        <button data-remote="true" class="small secondary button right button-edit-form">Mark most-wanted</button>
        <div class="small-10 columns center">
          <div class="hide editform">
            <form action="/most-wanted" method="post" accept-charset="UTF-8">
              <input name="utf8" type="hidden" value="✓">
              <input type="hidden" name="authenticity_token" value="8Dmhr9guFxIGcVvmtLEokKhYrTcfTktWWu5qYIdR6Lcyb6wVllRgmdHHJHh8EuHDemgpc99KNnjyKPfCvqHpAA==">
              <div class="row collapse">
                <div class="small-10 columns">
                  <%= select_tag "id", options_from_collection_for_select(@gifts, "id", "name") %>
                </div>
                <div class="small-2 columns">
                  <%= submit_tag "❤︎", class: "heart-button postfix"%>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
