<header>
  <div class="row">
    <div class="large-12 columns">
      <h1>Happy Birthday, Mommy!</h1>
    </div>
  </div>
</header>
<div class="video-container">
  <div class="row video">
    <div class="flex-video">
      <iframe width="640" height="480" frameborder="0" allowfullscreen
        src="https://www.youtube.com/embed/W-QflnvMR3g?rel=0&amp;controls=0&amp;showinfo=0;vq=hd720;&autoplay=1"
          class="video"></iframe>
    </div>
  </div>
</div>
<div class="message-container">
  <div class="row">
    <h2>BIRTHDAY WISHES</h2>
    <div class="message panel autoscroll">
      <ul>
        <% @messages.each do |message| %>
          <fieldset class="content">
            <legend><%= message.name %><%= image_tag('/red.png', class: "heart") %></legend>
            <%= message.body %>
          </fieldset>
          <fieldset class="content">
            <legend><%= message.name %><%= image_tag('/red.png', class: "heart") %></legend>
            <%= message.body %>
          </fieldset>
          <fieldset class="content">
            <legend><%= message.name %><%= image_tag('/red.png', class: "heart") %></legend>
            <%= message.body %>
          </fieldset>
        <% end %>
      </ul>
    </div>
  </div>
</div>
