<!DOCTYPE html>
<html>
<head>
  <title>ForMom</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">ForMom</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <a href="/"><img src="/logo.png" class="logo"/></a>
      </ul>
    </section>
  </nav>
  <nav id="gift">
    <div class="top-bar">
      <ul>
        <li><a href="/bday_messages"><i class="fa fa-envelope-o"></i>&nbsp; Messages</a></li>
        <li><a href="/gifts"><i class="fa fa-birthday-cake"></i>&nbsp; Wishlist</a></li>
        <li><a href="/photos"><i class="fa fa-picture-o"></i>&nbsp; Photos</a></li>
      </ul>
    </div>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="large-12 alert-box <%= key %>">
        <% if value.class == String %>
          <%= value %>
        <% else %>
          <ul>
            <% value.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>
    </div>
  <%- end -%>

  <section class="main">
    <%= yield %>
  </section>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
